/*dark mode :only color*/

body{
    background-color: #474751;
    color: #ffd700;
}
header{
    background-color: #373741;
    color:#ffd700
}

h3,h4, .cName, b{
    color: #ff7300;
}

footer{
    background-color: #5d5d6d;
    color: #6a9955;
}

form input ,form textarea{
    background-color: #6f6f6f ;
    color:#ffd700
}


body table{
    border: 2px solid #ff7300;
}

body td, body th {
    border: 1px solid #ffd700;
}

footer table {
    border: 2px solid #456338; 
  }
  
footer td, footer th {
    border: 1px solid #456338; 
  }



a,span{
    

    color: #1fada1;

}